.single-post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: bold;
  padding-top: 20px;
}

.post-id {
  padding-top: 10px;
}

.post-id span {
  font-size: 10px;
  font-weight: bold;
}
