.header-wrapper {
  display: flex;
  justify-content: space-between;
  background: rgb(163, 235, 207);
  padding: 15px;
}

.search-wrapper {
  margin-right: auto;
  padding: 5px;
}

.logo {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
