.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(219, 221, 220);
  padding: 15px;
}

.search-wrapper {
  margin-right: auto;
  padding: 5px;
}

.logo {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}
